@import "fonts.scss";
@import "mixin.scss";
@import "reset.scss";

.burger-menu {
   position: absolute;
   padding: 200px 0px 50px 0px;
   width: 100%;
   background-color: #D1A954;


   &__inner {
      max-width: 830px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
      display: flex;
      justify-content: center;
   }

   &__nav-list {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__nav-list-item {
      margin: 40px;
   }

   &__nav-item-link {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 48px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #000000;
   }

   &__nav-item-link--js-active {}
}


.wrapper-content {
   width: 100%;

}

.header {
   position: relative;
   width: 100%;
   background-color: #fff;
   padding: 60px 0px 30px 0px;
   z-index: 10;

   &__inner {
      max-width: 1430px;
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__menu {}

   &__nav {}

   &__nav-list {
      display: flex;
   }

   &__nav-list-item {
      margin: 0px 15px;

   }

   &__nav-item-link {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #000000;

      &--js-active {
         font-weight: 700;
         color: #D1A954;
      }
   }
}

.logo-link {}

.logo {}

.nav {

   &__list {
      list-style: none;
   }

   &__list-item {}

   &__item-link {
      text-decoration: none;
   }
}

.burger {
   position: relative;
   width: 40px;
   height: 20px;

   &--js-open &::before {
      left: 10px;
      top: 50%;
      transform: rotate(180deg);
   }

   &--js-open &::after {
      bottom: 50%;
      transform: rotate(-180deg);
   }

   &:before,
   &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #000000;
   }

   &::after {
      bottom: 0;
   }


   &__line {
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #000000;
      top: 50%;
   }
}